@page
@using FlowersWebsite.Component
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FlowersApp</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@(await Html.RenderComponentAsync<FlowerList>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>

